/*nav#cabecera{
    background-color: #c200003b;
    position: fixed;
    z-index: 2;
}*/

nav#cabecera{
    background-color: #c200003b;
    }

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav li{
    list-style: none;
    margin-left: 30px;
    padding: 8px;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.753);
}

div#titulo{
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
}

img#banner{
    width: 100%;
}

div#card-group{
    display: grid;
    grid-template-columns: 108% 108% 108%;
    grid-template-rows: 108% 108% 108%;
    justify-items: start;
    align-items: start;
    justify-content: start;
    align-content: start;
    max-width: 31%;
}
@media (max-width: 768px){
    
    div#card-group{
        display: grid;
        grid-template-columns: 200% 200% 200%;
        grid-template-rows: 100% 100% 100%;
        justify-items: start;
        align-items: start;
        justify-content: start;
        align-content: start;
        max-width: 31%;
    }
}

div.card-group img{
    justify-self: center;
    align-self: center;
    max-height: 350px;
}

div.card button a{
    text-decoration: none;
    color: white;
}

div.card#negro button a{
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.imagen-wpp {
    width: fit-content;
    transition: all .3s ease;
}

.imagen-wpp:hover {
    transform: scale(1.1);
}

.boton-wpp {
    position: fixed;
    right: 40px;
    bottom: 50px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.boton-wpp a {
    color: inherit;
    text-decoration: none;
}
.boton-wpp img {
    width: 50px
}

.wpp-caja {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    display: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
}

.wpp-header {
    width: 100%;
    max-width: 300px;
    background-color: #24ce64;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

.wpp-header h4 {
    margin-bottom: 7px;
    font-size: 20px;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.wpp-contactos {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.wpp-contactos a {
    width: 100%;
}

.contacto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    transition: all .3s ease;
}
.nombre{
    color: black;
    font-weight: 600;
    margin-bottom: 0
}
.numero{
    color: grey;
    margin-bottom: 0px;
}
.contacto:hover {
    background-color: rgb(238, 238, 238);
}

.contacto img {
    width: 50px;
    transition: all .3s ease;
}

.contacto:hover img {
    transform: scale(0.9);
}

.contacto div {
    width: 100%;
    margin-left: 20px;
}

.mostrar {
    opacity: 1;
    display: block;
}
@media (max-width:700px){
    .boton-wpp {
        right: 15px !important;
        bottom: 15px !important;
        cursor: pointer;
    }
    .boton-wpp img{
        width: 50px
    }
    .wpp-header {
        width: 300px;
        padding: 5px 20px;
    }
    .wpp-header h4 {
        margin-bottom: 5px;
        font-size: 16px;
    }
    .wpp-header p{
        font-size: 12px;
        margin-bottom: 5px;
        line-height: 13px;
    }
    .contacto {
        padding: 3px 15px;
    }
    .wpp-contactos{
        width: 300px;
        max-height: 250px;
        overflow: auto;
        background-color: white;
    }
    .wpp-contactos a {
        width: 100%;
    }
    .nombre{
        font-size: 14px;
    }
    .numero{
        font-size: 12px;
    }
    .cerrar {
        top: 10px;
    }
    .contacto img {
        width: 20px;
    }
}